@media (max-width: 768px) {
	.section {
	  width: 100%;
	}
  }
html {
	scroll-behavior: smooth; 
  }
body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: rgb(36, 36, 36);
	background-image: url('assets/img/bg.jpg');
	background-position: top center;
	background-repeat: repeat-y;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content /*header*/
    1fr /*main*/
    min-content; /*footer*/
  align-content: start;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}
.page {
	height: 100%;
}
.main-header {
	background-color: #000;
	margin-bottom: 70px;
}

.main-navigation {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color: transparent;
}
.header-logo {
	width: 150px;
	height: 150px;
}

  /* Container */
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.site-navigation {
	margin: 0;
	padding: 0;
  
	list-style: none;
  
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap; 
  
	width: 100%;
}
.site-navigation a {
	color: #fff;
  	display: block;
  	padding: 25px 20px;
}
.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #1d1d1d;
}
.title-wrapper {
	text-align: center;
	border-bottom: 10px solid #9e9e9e;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;
	border-bottom: 5px solid #9e9e9e;
  }
  .contacts {
	order: -1;
	width: 400px;
  }
.objective {
	padding: 0 50px;
	border-bottom: 5px solid #9e9e9e;
}
.work-experience {
	padding: 0 50px;
	border-bottom: 5px solid #9e9e9e;
}
.exp-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.period, .about, .respons {
	font-weight: 400;
}
.education {
	padding: 0 50px;
	border-bottom: 5px solid #9e9e9e;
}
.edu-list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	
	gap: 20px;
}
.edu-item {
	width: 400px;
}
.edu-item p {
	font-weight: 400;
}
.self-study {
	padding: 0 50px;
	border-bottom: 5px solid #9e9e9e;
	margin-bottom: 14px;
	margin-top: 14px;
	padding-bottom: 14px;
}
.skills-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.skill-item {
	font-weight: 400;
}
.code {
	padding: 0 50px;
	border-bottom: 5px solid #9e9e9e;
}
pre {
	background-color: #fff;
	color: #000;
}
.page-footer .container {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
